@import "resource";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %font;
  background-image: url(../img/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $Red;
  padding: 0.1px;
}
.container {
  width: 90%;
  margin: 150px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "container__description container__formulario";
  justify-content: center;
  align-content: center;
}
.container__description {
  grid-area: container__description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 48px;
}
.container__description--heading {
  font-size: 52px;
  color: #fff;
  line-height: 56px;
}
br {
  display: none;
}
.container__description--paragraph {
  margin-top: 30px;
  color: white;
}
.container__formulario--header {
  width: 100%;
  height: 50px;
  background-color: $Blue;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
}
.container__formulario--heading {
  text-align: center;
  font-size: 15px;
}
.container__formulario {
  grid-area: container__formulario;
}
.container__formulario--form {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 42px;
  border-radius: 12px;
  position: relative;
}
.container__formulario--inputs {
  width: 100%;
  position: relative;
}


/* ICONS */
[class^="container__formulario__"]{
  position:absolute;
  right:12px;
  bottom:15px;
  font-size:20px;
  opacity:0;
}
/* MESSAGE ALERT */
.container__formulario--txt{
  position:absolute;
  font-style:italic;
  font-size: 13px;
  bottom:-25px;
  right:0;
}

[class^="container__formulario__"]:focus{
  border:none;
  outline:2px solid steelblue;
  background-color:#fff;
}
.formulario--input--valid [class^="container__formulario__"]{
 color:$Green;
  opacity:1;
}
.formulario--input--invalid [class^="container__formulario__"]{
  color:$Red;
  opacity:1;
}

.formulario--input--valid .container__formulario--txt{
  color:$Green;
  display:block;
}
.formulario--input--invalid .container__formulario--txt{
  color:$Red;
  display:block;
}
.formulario--input--valid .container__formulario--input:focus{
  border:none;
  outline:2px solid $Green;
}
.formulario--input--invalid .container__formulario--input:focus{
  border:none;
  outline:2px solid $Red;
}
.container__formulario--txt{
  display:none;
}
@media screen and (max-width:280px){
  .container__formulario--txt{ 
  font-size: 10px;
}
}


.container__formulario--button {
  width: 100%;
}
.container__formulario--content {
  width: 100%;
}
.container__formulario--input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  @extend %font;
  font-size: 15px;
}
.container__formulario--input:focus {
  font-weight: bold;
  outline: 1px solid $Blue;
}
.container__formulario--btn {
  width: 100%;
  height: 48px;
  background-color: $Green;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  @extend %font;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.11);
  transition: 640ms;
  &:hover {
    background-color: $lightGreen;
    cursor: pointer;
  }
}
.container__formulario--paragraph {
  text-align: center;
  font-size: 12px;
  color: $Grayish-Blue;
}
.container__formulario--span {
  color: $Red;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url(../img/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Red;
    background-position: center;
    padding: 0.1px;
  }
  .container {
    grid-template-areas:
      "container__description container__description"
      "container__formulario container__formulario";
  }
  .container__description {
    grid-area: container__description;
    text-align: center;
    margin-bottom: 65px;
  }
  .container__formulario {
    grid-area: container__formulario;
  }
  br {
    display: block;
  }
  .container__formulario--header {
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  .container__description {
    padding: 0 18px;
  }
  .container__description--heading {
    font-size: 32px;
    line-height: 36px;
  }
  .container__description--paragraph {
    font-size: 14px;
  }
  .container__formulario--form {
    padding: 32px 22px;
  }
}
@media screen and (max-width: 374px) {
  .container__description--heading {
    font-size: 22px;
    line-height: 26px;
  }
  .container__description--paragraph {
    font-size: 10px;
  }
  .container__formulario--form {
    padding: 32px 22px;
  }
}
